<style>
    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
        background-color:white;
    }
</style>

<div ng-app = "Grade" ng-controller = "ProfCtrl" style = "text-align:center">
	<h1 style = "max-width:600px;margin:auto;text-align:center;width:80%;background-color:#8f8f8f;color:white;padding:10px">Dr. {{fullname}}</h1>
	<a href = "/#/">Logout</a>
	<p>
		{{message}}
	</p>
	<div style = "background-color:#f3f3f3;max-width:600px;width:80%;margin:auto;padding:0 20px 20px 20px;border:2px solid grey;border-radius:5px">
		<h4>Profile:</h4>
		<table border = "0" id = "profileTable" style = "margin:auto">
		</table>
	</div>
	<div style = "background-color:#f3f3f3;max-width:600px;width:80%;margin:10px auto;padding:20px 20px 20px 20px;border:2px solid grey;border-radius:5px">
		<div>
			<label style = "margin:0px 10px 30px 0px;width:120px;text-align:right">Upload grade for</label>
			<select ng-model = "course" style = "width: 150px; height: 30px;">
				<option disable selected value>Choose course...</option>
				<option value = "csce156">CSCE156</option>
				<option value = "csce235">CSCE235</option>
			</select>
			<button class = "btn btn-primary" style = "width:80px;margin-left:10px" ng-click = "upload()">Upload</button>
		</div>
		<div>
			<label style = "width:120px;text-align:right;margin-right:10px">Rerun model for</label>
			<select class = "custom-select mb-2 mr-sm-2 mb-sm-0" ng-model = "courseToRun" style = "width: 150px; height: 30px;">
				<option disable selected value>Choose course...</option>
				<option value = "csce156">CSCE156</option>
				<option value = "csce235">CSCE235</option>
			</select>
			<button class = "btn btn-primary" style = "width:80px;margin-left:10px" ng-click = "rerunModel()">Run</button>
		</div>
	</div>
</div>
