<style>
    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

    table tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    table tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>

<div ng-app = "Grade" ng-controller = "ProfCtrl">
	<h1>Professor {{fullname}}</h1>
	<a href = "/#/">Logout</a>

	<p>
		{{message}}
	</p>

	<table border = "0" id = "profileTable" style = "margin-bottom: 10px">
	</table>
	<label class = "mr-sm-2" style = "margin-bottom:30px">Upload grade for</label>
	<select class = "custom-select mb-2 mr-sm-2 mb-sm-0" ng-model = "course" style = "width: 150px; height: 30px;">
		<option disable selected value>Choose...</option>
		<option value = "csce156">CSCE156</option>
		<option value = "csce235">CSCE235</option>
	</select>
	<button type = "button" class = "btn btn-primary" ng-click = "upload()">Upload</button>
	<label>Rerun model for</label>
	<select class = "custom-select mb-2 mr-sm-2 mb-sm-0" ng-model = "courseToRun" style = "width: 150px; height: 30px;">
		<option disable selected value>Choose...</option>
		<option value = "csce156">CSCE156</option>
		<option value = "csce235">CSCE235</option>
	</select>
	<button type = "button" class = "btn btn-primary" ng-click = "rerunModel()">Run</button>
</div>
