<h1>Register a new account</h1>

<p>
    {{message}}
</p>

<form id = "registerForm">
    <div class = "form-group">
        <label>Role</label><br>
        <input class = "radio-inline" type = "radio" name = "optradio" ng-model = "role" value = "Professor"> Professor </input>
        <input class = "radio-inline" type = "radio" name = "optradio" ng-model = "role" value = "Student"> Student </input>
    </div>
    <div class = "form-group">
        <label>Full name</label>
        <input class = "form-control" ng-model = "fullname"></input>
    </div>
    <div class = "form-group">
        <label>NUID</label>
        <input class = "form-control" ng-model = "nuid"></input>
    </div>
    <div class = "form-group">
        <label>Email address</label>
        <div class = "input-group">
            <input class = "form-control" type = "email" ng-model = "email">
            <span class = "input-group-btn">
                <input type = "button" class = "btn" value = "Send confirmation code" ng-click = "sendEmail()"></input>
            </span>
        </div>
    </div>
    <div class = "form-group">
        <label>Confirmation code</label>
        <div class = "input-group">
            <input class = "form-control" ng-model = "confirmCode">
            <span class = "input-group-btn">
                <input type = "button" class = "btn" value = "Verify" ng-click = "verify()"></input>
            </span>
        </div>
    </div>
    <div class = "form-group">
        <label>Username</label>
        <div class = "input-group">
			<input class = "form-control" ng-model = "username">
			<span class = "input-group-btn">
				<input type = "button" class = "btn" value = "Check username" ng-click = "checkUsername()"></input>
			</span>
		</div>
    </div>
    <div class = "form-group">
        <label>Password</label>
        <input class = "form-control" type = "password" ng-model = "password"></input>
    </div>
    <div class = "form-group">
        <label>Re-enter password</label>
        <input class = "form-control" type = "password" ng-model = "rpassword"></input>
    </div>
    <input type = "button" class = "btn btn-primary" value = "Register" ng-click = "regist()"></input>
    <input type = "button" class = "btn btn-default" value = "Reset" ng-click = "reset()"></input>
    <a href = "/#/" class = "btn btn-default">Back</a>
</form>
