<h1>Upload grade</h1>

<p>
    {{message}}
</p>

<form>
    <div class = "form-group">
        <label>Select course</label>
        <select class = "form-control" ng-model = "course">
            <option>CSCE 156</option>
            <option>CSCE 235</option>
        </select>
    </div>
    <div class = "form-group">
        <label>Grade file</label>
        <input class = "form-control" type = "file" ng-model = "gradeFile" accept = ".csv"></input>
    </div>
    <input type = "button" class = "btn btn-primary" value = "Upload"></input>
    <a href = "/#/" class = "btn btn-default">Logout</a>
</form>
