<style>
    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

    table tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    table tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>

<div ng-app = "Grade" ng-controller = "ViewCtrl">
    <h1>{{account["Full name"]}}</h1>
	<h2>{{course}}</h2>
	<a href = "/#/">Logout</a>
	<p>
		{{message}}
	</p>
    <table border = "0" id = "profileTable" style = "margin-bottom: 10px">
    </table>
    Predicted Group: <strong><font id = "predict"></font></strong><br>
	<button type = "button" class = "btn btn-default" ng-click = "back()" style = "margin-top: 10px">Back</button>
</div>

